<li class="apparel-story">
  <p class="apparel-main-text"> NIKE KD8 COLLECTION</p>
  <div class="main-frame-apparel story-hero"></div>
  <div class="main-description-shops-apparel">
    <div class="product-columns">
      <div class="main-app-column">
        <p class="description"> LOREM IPSUM 33 JERSEY<p>
        <%= link_to image_tag("shop_now.jpg"), "/", :class => "shop-now apparel-main-shop" %>
      </div>
      <div class="main-app-column">
        <p class="description"> KD HYPERLITE CREW<p>
        <%= link_to image_tag("shop_now.jpg"), "/", :class => "shop-now apparel-main-shop" %>
      </div>
      <div class="main-app-column">
        <p class="description"> KD MAX AIR VII BACKPACK<p>
        <%= link_to image_tag("shop_now.jpg"), "/", :class => "shop-now apparel-main-shop" %>
      </div>
    </div>
  </div>

  <div class="shorts-block">
    <div class="shorts-images">
      <div class="apparel-left">
        <%= image_tag "apparel_story/shorts-block_2.jpg" %>
      </div>
      <div class="apparel-right">
        <%= image_tag "apparel_story/shorts-block_1.jpg" %>
      </div>
    </div>
    <div class="shorts-words">
      <div class="apparel-left shorts-text">
       <p class="description">KD KLUTCH ELITE SHORTS</p>
       <%= link_to image_tag("shop_now.jpg"), "/" %>
      </div>
      <div class="apparel-right shorts-text">
        <p class="desc-text white">COMFORT FOR</p>
        <p class="desc-text white">EVERY MOVE.</p>
      </div>
    </div>
  </div>

  <div class="sock-block">
    <%= image_tag "apparel_story/sock-block_1.jpg" , :class => "right-sock" %>
    <div class="left-sock">
      <p class="desc-text">THE ULTIMATE<p>
      <p class="desc-text">PERFORMANCE<p>
      <p class="desc-text sock-space">SOCK.<p>
      <p class="description">KD HYPERLITE CREW</p>
       <%= link_to image_tag("shop_now.jpg"), "/" %>
    </div>
  </div>

  <div class="shirt-block">
    <div class="shirt-images">
      <div class="apparel-left">
        <%= image_tag "apparel_story/shirt-block_1.jpg" %>
      </div>
      <div class="apparel-right">
        <%= image_tag "apparel_story/shirt-block_2.jpg" %>
      </div>
    </div>
    <div class="shirt-words">
      <div class="apparel-left shirt-text">
        <p class="desc-text white">DESIGNED TO</p>
        <p class="desc-text white">BREATH.</p>
      </div>
      <div class="apparel-right shirt-text">
        <p class="description">KD KLUTCH ELITE TANK</p>
        <%= link_to image_tag("shop_now.jpg"), "/" %>
      </div>
    </div>
  </div>

  <div class="pants-block">
    <%= image_tag "apparel_story/pants-block_1.jpg" %>
    <p class="description">NIKE PRO COOL 3/4 TIGHT</p>
    <%= link_to image_tag("shop_now.jpg"), "/" %>
  </div>
</li>