<li class="hoodie-story">
  <div class="main">
    <div class="main-frame-hoodie story-hero">
      <%= link_to image_tag("shop_now.png"), "/", :class => "shop-now hoodie-shop" %>
    </div>
  </div>
  <div class="video">
    <video width="693" height="405" controls poster="/images/hoodie_story/hoodie_poster.png" onclick="this.play();" >
     <source src="videos/KD_HOODIE4.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="hoodie-bar-words call-to-action-shop-now">
    <p>TAILORED FOR MOBILITY.</p>
  </div>
  <div class="hoodie-footer">
    <div class="footer-images">
      <div class="hoodie-left">
        <%= image_tag "hoodie_story/hoodie_foot_1.png", :id => "hoodie-hover-1" %>
      </div>
      <div class="hoodie-right">
        <%= image_tag "hoodie_story/hoodie_foot_22.png", :id => "hoodie-hover-2" %>
      </div>
    </div>
    <div class="footer-words">
      <div class="hoodie-left  hl">
       <p> DRI-FIT, FABRIC HELPS</p>
       <p> KEEP YOU DRY AND </p>
       <p> COMFORTABLE. </p>
       <%= link_to image_tag("shop_now.png"), "/", :class => "hoodie-footer-shop" %>
      </div>
      <div class="hoodie-right hr">
        <p>ENGINEERED</p>
        <p>SLEEVES WITH MESH</p>
        <p>STRETCH EASILY.</p>
        <%= link_to image_tag("shop_now.png"), "/" , :class => "hoodie-footer-shop" %>
      </div>
    </div>
  </div>
</li>