<% data.projects.details.each_with_index do |info, index| %>
  <section class="project-wrapper">
    <div class="project-container">
      <% if index == 9 %>
        <p class="title-resume"><a href="images/resume_2016.pdf" target="_blank"> resumé </a></p>
      <% else %>
      <p class="title"><%= info.title %></p>

      <div class="drawer-controls">
        <p id="plus_minus" class=" a plus"> + </p>
        <p id="plus_minus" class="b minus"> - </p>
      </div>
    </div>
    <div class="work-pull closed">
        <div class="work-body">
          <p><%= info.blurb %></p>
          <hr>
          <div class="project_info">
            <p>Role: <%= info.role %></p>
            <p>Technology: <%= info.languages %></p>
            </br>
            <% if index == 6 %>
              <p> Status: Private </p>

            <% elsif index == 3 || 4 %>

              <p> Status: No Longer Live (videos of project in action) </p>
            <% else %>
              <p><a href=<%= info.live_here %>  target="_blank"><span>check it out!</span></a></p>
            <% end %>
          </div>
          <div class="images banner">
            <% if info.image_number == 3 %>
            <ul>
              <li><%= image_tag "#{info.image_1}", :class => "project-image" %></li>
              <li><%= image_tag "#{info.image_2}", :class => "project-image" %></li>
              <li><%= image_tag "#{info.image_3}", :class => "project-image" %></li>
            </ul>
            <% elsif info.image_number == 2 %>
              <ul>
                <li><%= image_tag "#{info.image_1}", :class => "project-image" %></li>
                <li><%= image_tag "#{info.image_2}", :class => "project-image" %></li>
              </ul>
            <% elsif info.image_number == 1 %>
              <%= image_tag "#{info.image_1}", :class => "project-image" %>
            <% elsif info.video_number > 0 %>
           <ul>
            <li>
            <div class="video">
            <section id="wrapper">
              <div class="videoContainer">
                <video class="myVideo" controls preload="metadata" "<%= info.poster_1 %>">
                 <source src="<%= info.video_1 %>" type="video/mp4"/>
                  <p>Your browser does not support the video tag.</p>
                </video>
                <div class="control">
                  <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                      <div class="progress">
                        <span class="bufferBar"></span>
                        <span class="timeBar"></span>
                      </div>
                    </div>

                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="video">
            <section id="wrapper">
              <div class="videoContainer">
                <video id="myVideo" controls preload="metadata" "<%= info.poster_2 %>">
                 <source src="<%= info.video_2 %>" type="video/mp4"/>
                  <p>Your browser does not support the video tag.</p>
                </video>
                <div class="control">
                  <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                      <div class="progress">
                        <span class="bufferBar"></span>
                        <span class="timeBar"></span>
                      </div>
                    </div>
                    <div class="btnFS btn" title="Switch to full screen"><span class="icon-fullscreen"></span></div>
                  </div>
                </div>
              </div>
            </li>
          <ul>
            <% end %>
          </div>
        </div>
    </div>
    <% end %>
  </section>
<% end %>
<!-- <div class="resume-mobile">
      <p><a href="images/resume_2016.pdf"  target="_blank"> resumé </a></p>
    </div> -->