 <li class="shoe-story active">
  <div class="main-frame-shoe  story-hero"></div>
  <div class="scrolled-content">
    <div class="sub-images">
      <%= image_tag "shoe_story/shoe_story_sub_1_c.jpg", :class => "story-sub-image", :id => "shoe-hover-1" %>
      <%= image_tag "shoe_story/shoe_story_sub_2_c.jpg", :class => "story-sub-image" , :id => "shoe-hover-2"  %>
      <%= image_tag "shoe_story/shoe_story_sub_3_c.jpg", :class => "story-sub-image" , :id => "shoe-hover-3"   %>
    </div>
    <div class="call-to-action-shop-now">
      <div class="shoe-text-wrapper">
        <div id="text-switch-one" class="shoe-switchbox">
          <p>CLEAN STYLE + PURE PERFORMANCE</p>
        </div>
        <div id="text-switch-two" class="shoe-switchbox">
          <p>NIKE ZOOM CUSHIONING</p>
          <p>FOR LOW-PROFILE RESPONSIVENESS</p>
        </div>
        <div id="text-switch-three" class="shoe-switchbox">
          <p>FLYWEAVE UPPER FOR ULTRALIGHT,</p>
          <p>FLEXIBLE SUPPORT.</p>
        </div>
        <div id="text-switch-four" class="shoe-switchbox">
          <p>FLYWWIRE CABLES</p>
          <p>DELIVER DYNAMIC LOCKDOWN</p>
        </div>
      </div>
      <%= link_to image_tag("shop_now.jpg"), "/", :class => "shop-now" %>
    </div>
   <div class="relative-carousel-container">
      <div class="shoe-carousel">
        <ul class="carousel-content">
          <li>
            <%= image_tag "shoe_story/shoe_footer_1.jpg" %>
          </li>
          <li>
            <%= image_tag "shoe_story/shoe_footer_2.jpg" %>
          </li>
          <li>
            <%= image_tag "shoe_story/shoe_footer_3.jpg" %>
          </li>
        </ul>
      <div>
    </div>
  </div>
</li>