---
title: Shoe Story
---

<div class="story">
  <%= partial "layouts/partials/header" %>
  <div class="main">
    <ul class="pages">
      <li class="shoe-story active">
        <div class="main-frame-shoe  story-hero"></div>
        <div class="scrolled-content">
          <div class="sub-images">
            <%= image_tag "shoe_story/shoe_story_sub_1_c.png", :class => "story-sub-image", :id => "shoe-hover-1" %>
            <%= image_tag "shoe_story/shoe_story_sub_2_c.png", :class => "story-sub-image" , :id => "shoe-hover-2"  %>
            <%= image_tag "shoe_story/shoe_story_sub_3_c.png", :class => "story-sub-image" , :id => "shoe-hover-3"   %>
          </div>
          <div class="call-to-action-shop-now">
            <div class="shoe-text-wrapper">
              <div id="text-switch-one" class="shoe-switchbox">
                <p>CLEAN STYLE + PURE PERFORMANCE</p>
              </div>
              <div id="text-switch-two" class="shoe-switchbox">
                <p>NIKE ZOOM CUSHIONING</p>
                <p>FOR LOW-PROFILE RESPONSIVENESS</p>
              </div>
              <div id="text-switch-three" class="shoe-switchbox">
                <p>FLYWEAVE UPPER FOR ULTRALIGHT,</p>
                <p>FLEXIBLE SUPPORT.</p>
              </div>
              <div id="text-switch-four" class="shoe-switchbox">
                <p>FLYWWIRE CABLES</p>
                <p>DELIVER DYNAMIC LOCKDOWN</p>
              </div>
            </div>
            <%= link_to image_tag("shop_now.png"), "/", :class => "shop-now" %>
          </div>
         <div class="relative-carosel-container">
            <div class="shoe-carosel carouselbox active">
              <ul class="content">
                <li class="current">
                  <%= image_tag "shoe_story/shoe_footer_1.png" %>
                </li>
                <li>
                  <%= image_tag "shoe_story/shoe_footer_2.png" %>
                </li>
                <li>
                  <%= image_tag "shoe_story/shoe_footer_3.png" %>
                </li>
              </ul>
              <div class="arrows">
                <%= image_tag "shoe_story/arrow-left.png", :class => "a-left prev" %>
                <%= image_tag "shoe_story/arrow-right.png", :class => "a-right next" %> 
              </div>
            <div>
          </div>
        </div>
      </li>
      <li class="hoodie-story">
        <div class="main">
          <div class="main-frame-hoodie story-hero">
            <%= link_to image_tag("shop_now.png"), "/", :class => "shop-now hoodie-shop" %>
          </div>
        </div>
        <div class="video">
          <video width="693" height="405" controls poster="/images/hoodie_story/hoodie_poster.png" onclick="this.play();" >
           <source src="videos/KD_HOODIE4.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="hoodie-bar-words call-to-action-shop-now">
          <p>TAILORED FOR MOBILITY.</p>
        </div>
        <div class="hoodie-footer">
          <div class="footer-images">
            <div class="hoodie-left">
              <%= image_tag "hoodie_story/hoodie_foot_1.png", :id => "hoodie-hover-1" %>
            </div>
            <div class="hoodie-right">
              <%= image_tag "hoodie_story/hoodie_foot_22.png", :id => "hoodie-hover-2" %>
            </div>
          </div>
          <div class="footer-words">
            <div class="hoodie-left  hl">
             <p> DRI-FIT, FABRIC HELPS</p>
             <p> KEEP YOU DRY AND </p>
             <p> COMFORTABLE. </p>
             <%= link_to image_tag("shop_now.png"), "/", :class => "hoodie-footer-shop" %>
            </div>
            <div class="hoodie-right hr">
              <p>ENGINEERED</p>
              <p>SLEEVES WITH MESH</p>
              <p>STRETCH EASILY.</p>
              <%= link_to image_tag("shop_now.png"), "/" , :class => "hoodie-footer-shop" %>
            </div>
          </div>
        </div>
      </li>
      <li class="apparel-story">
        <p class="apparel-main-text"> NIKE KD8 COLLECTION</p>
        <div class="main-frame-apparel story-hero"></div>
        <div class="main-description-shops-apparel">
          <div class="product-columns">
            <div class="main-app-column">
              <p class="description"> LOREM IPSUM 33 JERSEY<p>
              <%= link_to image_tag("shop_now.png"), "/", :class => "shop-now apparel-main-shop" %>
            </div>
            <div class="main-app-column">
              <p class="description"> KD HYPERLITE CREW<p>
              <%= link_to image_tag("shop_now.png"), "/", :class => "shop-now apparel-main-shop" %>
            </div>
            <div class="main-app-column">
              <p class="description"> KD MAX AIR VII BACKPACK<p>
              <%= link_to image_tag("shop_now.png"), "/", :class => "shop-now apparel-main-shop" %>
            </div>
          </div>
        </div>

        <div class="shorts-block">
          <div class="shorts-images">
            <div class="apparel-left">
              <%= image_tag "apparel_story/shorts-block_2.png" %>
            </div>
            <div class="apparel-right">
              <%= image_tag "apparel_story/shorts-block_1.png" %>
            </div>
          </div>
          <div class="shorts-words">
            <div class="apparel-left shorts-text">
             <p class="description">KD KLUTCH ELITE SHORTS</p>
             <%= link_to image_tag("shop_now.png"), "/" %>
            </div>
            <div class="apparel-right shorts-text">
              <p class="desc-text white">COMFORT FOR</p>
              <p class="desc-text white">EVERY MOVE.</p>
            </div>
          </div>
        </div>

        <div class="sock-block">
          <%= image_tag "apparel_story/sock-block_1.png" , :class => "right-sock" %>
          <div class="left-sock">
            <p class="desc-text">THE ULTIMATE<p>
            <p class="desc-text">PERFORMANCE<p>
            <p class="desc-text sock-space">SOCK.<p>
            <p class="description">KD HYPERLITE CREW</p>
             <%= link_to image_tag("shop_now.png"), "/" %>
          </div>
        </div>

        <div class="shirt-block">
          <div class="shirt-images">
            <div class="apparel-left">
              <%= image_tag "apparel_story/shirt-block_1.png" %>
            </div>
            <div class="apparel-right">
              <%= image_tag "apparel_story/shirt-block_2.png" %>
            </div>
          </div>
          <div class="shirt-words">
            <div class="apparel-left shirt-text">
              <p class="desc-text white">DESIGNED TO</p>
              <p class="desc-text white">BREATH.</p>
            </div>
            <div class="apparel-right shirt-text">
              <p class="description">KD KLUTCH ELITE TANK</p>
              <%= link_to image_tag("shop_now.png"), "/" %>
            </div>
          </div>
        </div>

        <div class="pants-block">
          <%= image_tag "apparel_story/pants-block_1.png" %>
          <p class="description">KD KLUTCH ELITE TANK</p>
          <%= link_to image_tag("shop_now.png"), "/" %>
        </div>
      </li>
    </ul>
  <div>
</div>